.center{
    text-align: center;
}

.zoom {
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    height: 400px;
    width: 600px;

}

.rotate {
    height: 400px;
    width: 600px;
}
.rotate:hover {
    background-color: #FFCCCC;
    transform: rotate(180deg);
    transition-duration: 3s;
}












.zoom:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
