/*
Smartphone
*/
/* portrait */
@media only screen and (max-width : 320px) and (orientation: portrait) {
    /* Styles pour cette Media Queries */
}
/* portrait et paysage */
@media only screen and (max-width : 320px) and (orientation: landscape){
    /* Styles pour cette Media Queries */
}

/*
tablettes
*/
/* paysage */
@media only screen and (max-width : 992px) and (min-width: 320px) and (orientation: landscape){
    /* Styles pour cette Media Queries */
}
/* paysage */
@media only screen and (max-width : 992px) and (min-width: 320px) and (orientation: landscape){
    /* Styles pour cette Media Queries */
}


/* Ecrans */
@media only screen and (min-width : 1224px){
    /* Styles pour cette Media Queries */
}

/* Grand écran */
@media only screen and (min-width : 1224px){
    /* Styles pour cette Media Queries */
}



/* Imprimantes */
@media only print {

}