.serif {
    font-weight: normal;
}

.sansserif {
    font-weight: bold;
}

.monospace {
    /* nombre de 0 à 900 */
    font-weight: 900;
}

.cursive {
    font-size: 0.8em;
}

.black-bg{
    background-color: rgb(0, 0, 0);
}
.red-bg {
    background-color: rgb(255,0,0);
}

.blue-bg {
    background-color: rgb(0,0,255);
}





div {
    font-size: 50px;
}




.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.shadow {
    text-shadow: 10px 10px 20px yellowgreen;
    font-size: 50px;
}

